---
import Hero from '../components/Hero';
import GenreFilter from '../components/GenreFilter';
import Store from '../components/Store';
import Contact from '../components/Contact';
import WhatsappSVG from '../components/WhatsappSVG';
import { MdKeyboardArrowUp } from 'react-icons/md/index';
import Footer from '../components/Footer';
---

<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Righteous&display=swap"
			rel="stylesheet"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Freehand&display=swap"
			rel="stylesheet"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<script
			defer
			src="https://unpkg.com/tailwindcss-intersect@1.x.x/dist/observer.min.js"
		></script>
		<title>SPORTCENTER | Inicio</title>
	</head>
	<body class="relative">
		<div class="w-18 fixed right-0 bottom-10 z-10 flex flex-col items-center">
			<a href="#header">
				<MdKeyboardArrowUp
					className=" h-10 w-10 z-10 bg-blue-700 text-white rounded-full"
				/>
			</a>
			<WhatsappSVG tailwind={'h-16 w-16'} />
		</div>
		<Hero />
		<GenreFilter />
		<Store />
		<Contact />
		<Footer />
	</body>
</html>
